<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5ce0bea8-84e3-4eda-911b-dfc54b75fbe4/resourceGroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/ExtraSchoolServer</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <ApiResourceId>/subscriptions/5ce0bea8-84e3-4eda-911b-dfc54b75fbe4/resourceGroups/appsvc_linux_centralus/providers/Microsoft.ApiManagement/service/VizelServer/apis/WebApI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://extraschoolserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6f4268c1-17e9-41c3-9de3-8369118b58fe</ProjectGuid>
    <MSDeployServiceURL>extraschoolserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExtraSchoolServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ExtraSchoolServer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>